@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Quicksand', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 960px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NavBar */

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 80%;
  margin: 0 10px;
}

.links {
  display: flex;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover {
  color: rgb(140, 210, 230)
}

/* CreatePost */

.create-post {
  max-width: 960px;
  width: 90%;
}